.item {
	display: flex;
	gap: 25px;
	margin-bottom: 60px;
	background-color: var(--color-white);

	button {
		height: fit-content;
	}
}

.text {
	width: 100%;
	margin: 0;
	border: var(--border-2);
	padding: 10px;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	background-color: var(--color-white);
}
