:root {
	/* Fonts */
	--font-family: 'Montserrat', sans-serif;
	--font-big: 24px;
	--font-small: 16px;

	/* Colors */
	--color-bg: #e1f8ff;
	--color-blue: #216cff;
	--color-light-blue: #0094ff;
	--color-black: #000;
	--color-red: #ff218b;
	--color-white: #fcfbfb;
	--color-gray: #6e6e6e;
	--color-light-gray: #9c9c9c;
	--color-overlay: rgba(108, 158, 255, 0.59);

	/* Other */
	--radius: 15px;
	--border-1: 1px solid #6e6e6e;
	--border-2: 2px solid #0094ff;
	--shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-big);
	font-weight: 400;
	line-height: 1.2;
	background-color: var(--color-bg);
	min-width: 360px;
	overflow-x: hidden;
}

form,
input,
select,
textarea,
button {
	font-family: var(--font-family);
	outline: none;
	appearance: none;
	width: 100%;
	border: none;
	padding: 0;
	background-color: transparent;
}

textarea {
	resize: none;
}

.container {
	width: 100%;
	max-width: 830px;
	padding: 30px 15px;
	margin: 0 auto;
}
